[flake8]
; ANN - Issues raised by flake8-annotations
; B - Issues raised by flake8-bugbear, B9 are more opinionated
; BLK - Issues raised by Black
; C - Issues rasied by mccabe (complexity)
; F - Errors raised by pyflakes
; I - Issues raised by flake8-import-order
; S - Issues raised by flake8-bandit (security)
; W,E - Warnings and Errors reported by pycodestyle
select = ANN,B,B9,BLK,C,E,F,I,S,W


; E203 - Whitespace before ':'
; W503 - Line break before binary operator
; E501 - Line too long; With B9 enabled this is a duplicate of B950.  Disable it to avoid duplicate.
;        Unlike E501, from pycodestyle, B950 only triggers if max-line-length is exceeded by 10% or
;        more.  Inspired by Raymond Hettinger's "Beyond PEP8" talk.
ignore = E203,E501,W503
per-file-ignores = tests/*:S101
max-line-length = 120
max-complexity = 10


; flake8-import-order
application-import-names = hypermodern_python,tests
import-order-style = google
